<header id="top-header">
  <span class="sitename">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <!-- Start of EJS conditional logic for authentication -->
    <% if (locals.loggedin) { %>
    <!-- 
        1. VISIBLE ONLY WHEN THE CLIENT IS LOGGED IN 
        
        A. "Welcome" link (links to account management) 
      -->
    <a title="Go to account management" href="/account">
      Welcome <%= locals.accountData.account_firstname %>
    </a>

    <!-- B. "Logout" link -->
    <a title="Click to log out" href="/account/logout"> Logout </a>

    <% } else { %>
    <!-- 
        2. VISIBLE ONLY WHEN THE CLIENT IS NOT LOGGED IN 
        
        "My Account" link (links to login/registration) 
      -->
    <a title="Click to log in" href="/account/login"> My Account </a>
    <% } %>
    <!-- End of EJS conditional logic -->
  </div>
</header>
