<nav id="nav">
  <ul>
    <li>
      <a href=".partials/navigation" title="Clic on it to home">Home</a></li>
    <li>
      <a href=".partials/navigation" title="Clic on it to custom">Custom</a></li>
    <li>
      <a href=".partials/navigation" title="Clic on it to custom">Sedan</a></li>
    <li>
      <a href=".partials/navigation" title="Clic on it to custom">SUV</a></li>
    <li><a href=".partials/navigation" title="Clic on it to custom">Truck</a></li>
  </ul>
</nav>
