<nav id="nav">
  <ul>
    <li>
      <a href="#" title="Clic on it to home">Home</a>
    </li>
    <li>
      <a href="#" title="Clic on it to custom">Custom</a>
    </li>
    <li>
      <a href="#" title="Clic on it to sedan">Sedan</a>
    </li>
    <li>
      <a href="#" title="Clic on it to SUV">SUV</a>
    </li>
    <li>
      <a href="#" title="Clic on it to truck">Truck</a>
    </li>
  </ul>
</nav>
