<%# views/inventory/detail.ejs %> <%# Heading %>
<h1><%= title %></h1>

<%# Framework of HTML %> <%- detailHTML %> <%# Professional view %>
<p class="professional-note">
  All vehicles are certified and have passed a thorough inspection.
</p>

<script>
  // I can add activity here.
</script>
